/* General Styles */
body {
    background-color: #0A081B;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    width: 800px;
    overflow-x: hidden;
}

/* Header */
h2 {
    font-size: 21px    ;
    margin-bottom: 5px;
    font-family: 'DM Sans', sans-serif;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
}
h5 , h3{
font-weight: 400;
color: rgba(255, 255, 255, 0.6);
}
h4{
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14.63px;
  line-height: 22px;
  letter-spacing: 0%; 
  /* color: rgba(72, 57, 153, 1);  */
}
.padding{
  padding-bottom: 10px;
}
.flex{
    display: flex;
    gap:10px;
    align-items: center
}
.down{
  flex-direction: column;
}
.gap{
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
.space{
  margin-top: -19px;
  margin-bottom: -20px;
}
.flexy{
    display: flex;
    gap:15px;
    align-items: center 
}
.bottom{
    padding-bottom: 5px;
}

.font-14{
  font-weight: 400;
  font-size: 14px;
  line-height: 18.23px;
  letter-spacing: -3%;
}
.light{
  color: rgba(255, 255, 255, 0.6);
}
.font-blue{
    color:rgba(140, 121, 255, 1);
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15.62px;
    letter-spacing: -3%;

}
.flex-down{
 display: flex;
 flex-direction: column
}

img{
    cursor: pointer;
}

.img-width {
    height: 32px    ;
}
.link{
    color: white;
    text-decoration: none;
}
/* Top Navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    padding-bottom:0px;
    padding-top: 0px;
    align-items: center;
    background: #0A081B;
    border-bottom: 1px solid #242137;
}

.configuration {
    display: flex;
    align-items: left;
    justify-content:space-between;
    background: #0A081B;
    padding: 12px 20px;
    border-bottom: 1px solid #242137; 
    font-size: 11.5px;
    font-family: 'DM Sans', sans-serif;
    color: rgba(255, 255, 255, 0.6);
}

.mode-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}
.publish-button {
  background: #262e84;
  width: 150px;
  position: relative;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
font-size: 12px;
line-height: 100%;
letter-spacing: -3%;

}
.publish-buttons{
  background: #262e84;
  width: 150px;
  position: relative;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
font-size: 12px;
line-height: 100%;
letter-spacing: -3%;

}

.publish-button::after {
  content: "select a element in designer";
  position: absolute;
  background:rgba(34, 30, 59, 1);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  top: -30px; /* Adjust based on button position */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.publish-button:hover::after {
  opacity: 1;
}

.mode-btn {
    color: #FFF;
    border: none;
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 6px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15.62px;
    letter-spacing: -3%;    
}

.mode-btn.active {
    background: rgba(112, 102, 181, 0.29);
}

/* .mode-btn:focus{
    background: rgba(112, 102, 181, 0.29);
} */

.configuration button {
    color: white;
    padding: 8px 16px;
    border: 1px solid rgba(140, 121, 255, 0.29);
    border-radius: 5px;
    cursor: pointer;
    font-size: 11.5px;
}

.component-width , .need-help{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0%;
}


/* Tabs */
.tabs {
    gap: 10px;
    /* margin-bottom: 20px; */
    border-bottom: 1px solid #242137; 
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15.62px;
    letter-spacing: -3%;
    padding-left: 10px; 
    padding-right: 10px
}
.tabs button:disabled {
    /* opacity: 0.5; */
    cursor: not-allowed;
  }  

.tabs button {
    background: #0A081B;
    border: none;
    padding: 8px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid transparent; /* Default transparent border */
}

.tabs button.active {
    border-bottom: 1px solid #8C79FF; /* Active tab bottom border */
    color: #FFF;
}

.container{
    display: flex;
    max-width: 800px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    
}

/* Settings Panel */
.settings-panel {
    /* background: #1A1730; */
    /* padding: 0 10px 0 10px; */
    padding: 0 22px 0 20px;
 /* Top & Bottom: 20px, Left & Right: 10px */
    width: 761px;
    font-size: 12px;
    font-weight: 400;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); */
    flex-shrink: 0; /* Prevent shrinking */
    /* border-right: 1px solid #242137;  */
}


.settings-panel label {
    display: flex;
    color: rgba(255, 255, 255, 0.6);
    justify-content: space-between;
}

.settings-panel .custom-checkboxs {
  color: #c5baff !important;
  justify-content: flex-start !important;
}


.settings-panel input,
.settings-panel select {
    width: 138px;
    padding: 8px;
    /* margin-top: 5px; */
    border: 1px solid rgba(46, 43, 69, 1);
    border-radius: 3px;
    background: rgba(217, 217, 217, 0.02);
    /* color: rgba(4, 0, 0, 0.6); */

}

.settings-panel .width select{
    width: 87px;
    background-color: rgba(31, 27, 52, 1);
}
/* Ensure labels and inputs/selects are aligned properly */
.settings-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    /* margin-top: 10px; */
    font-size: 12px;
    margin-bottom: 20px;
  }

  .settings-group.border{
    width: 255;
    height: 48;
    top: 427px;
    left: 20px;
    border-radius: 3px;
    border-width: 1px;
    border: 1px solid rgba(140, 121, 255, 0.29);
    padding: 4px;
  }

.settings-group label {
    font-size: 12px;
    color: #B0AEE3;
    /* flex-shrink: 0;  */
    width: 60px; 
}


.settings-group select {
    flex-grow: 1; 
    padding: 8px;
    border: 1px solid rgba(46, 43, 69, 1);
    border-radius: 5px;
    background: #0A081B;
    color: rgba(255, 255, 255, 0.6);
    max-width: 138px;
}

.settings-group input{
  flex-grow: 1; 
  padding: 8px;
  border: 1px solid rgba(46, 43, 69, 1);
  border-radius: 5px;
  background: #0A081B;
  color: rgba(255, 255, 255, 0.6);
  max-width: 120px;

}
.settings-groups input {
  flex-grow: 1; 
  padding: 8px;
  border: 1px solid rgba(46, 43, 69, 1);
  border-radius: 5px;
  background:rgba(31, 27, 52, 1);
  color: rgba(255, 255, 255, 0.6);
  max-width: 100px;
  margin-top: 12px;
}

.setting-groups select{
  flex-grow: 1; 
  padding: 8px;
  border: 1px solid rgba(46, 43, 69, 1);
  border-radius: 5px;
  background:rgba(31, 27, 52, 1);
  color: rgba(255, 255, 255, 0.6);
  max-width: 120px;
}

.settings-group-preview{
  padding-top: 10px;
}

.width-cust{
    max-width: 257px; 
    min-width: 257px;   
    border-right: 1px solid #242137;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 14px;
   
}

/* Preview Panel */
.preview-panel {
    /* background: #1A1730; */
    flex-grow: 1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 250px;
}

.preview-window{
    background-color: #221E3A;
}

.togglediv ,.cookie-settings{
    padding-top: 16px;
    padding-bottom:16px ;
    border-top: 1px solid rgba(36, 33, 55, 1); 

}

/* .cookie-settings {
  opacity: 0;
  transform: translateY(-15px);
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out, max-height 0.8s ease-in-out;
}

.cookie-settings.active {
  opacity: 1;
  transform: translateY(0);
  max-height: 1000px;
  overflow: visible;
} */

.cookie-settings {
  opacity: 0;
  transform: translateY(-15px);
  max-height: 0;
  overflow: hidden;
  padding: 0; /* Ensure no padding contributes to size */
  margin: 0;  /* Ensure no margin contributes to size */
 
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out, max-height 0.8s ease-in-out;
}

.cookie-settings.active {
  opacity: 1;
  transform: translateY(0);
  max-height: 1000px; /* Adjust as needed */
  overflow: visible;
  padding: 3; /* Match padding in inactive state */
  margin: 0;  /* Match margin in inactive state */
}




.settings-group {
    align-items: center; 
    width: 100%;
}

select {
    color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 12px;
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
    outline: none;
    text-align: left; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30.7px);
    -webkit-backdrop-filter: blur(30.7px); /* Safari support */
}

select:focus {
    border: 1px solid rgba(59, 51, 109, 1);
    border-radius: 6px;
}

option {
    background: rgba(50, 44, 90, 0.6); 
    color: white;
    padding: 10px;
    text-align: left; 
    backdrop-filter: blur(30.7px);
    -webkit-backdrop-filter: blur(30.7px); /* Safari support */
}

select option:checked {
    background: rgba(59, 51, 109, 1);
  
}

/* Cookie Banner */
/* .cookie-banner {
    background: #fff;
    font-size: 12px;
    color: #000;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
} */
.general{
    display: flex;
    gap: 18px;
    font-size: 12px;
}
.category-code-block{
    display: flex;
   justify-content: space-between;
}

.preview-area{
    min-height: 304px;
    width: 465px;
    background-color: #221E3A;
    border-radius: 6px;
    display: flex;
    flex-wrap:wrap;
    justify-content:flex-end;
    align-items: flex-end;
    align-content:flex-end;
    position: relative;
    overflow: hidden; 

}

/* Buttons */
.cookie-banner button {
    margin-left: 10px;
    /* padding: 5px 12px; */
    border: none;
    cursor: pointer;
}

.btn-preferences {
    background: rgba(241, 241, 241, 1);
    color: #2D2D88;
    width: 42.73516082763672;
    height: 18.474885940551758;
    /* border-radius: 2px; */
    gap: 4.35px;
    padding-top: 5.98px;
    padding-right: 10.87px;
    padding-bottom: 5.98px;
    padding-left: 10.87px;
    
}

.btn-reject {
     background: linear-gradient(86.03deg, rgba(38, 46, 132, 0.2) -25.38%, rgba(60, 42, 144, 0.2) 111.73%);
     color: #2D2D88;
     width: 42.73516082763672;
     height: 18.474885940551758;
     /* border-radius: 2px; */
     gap: 4.35px;
     padding-top: 5.98px;
     padding-right: 10.87px;
     padding-bottom: 5.98px;
     padding-left: 10.87px;
}

.btn-accept {
    background: #3A36A0;
    color: white;
    width: 42.73516082763672;
    height: 18.474885940551758;
    /* border-radius: 2px; */
    gap: 4.35px;
    padding-top: 5.98px;
    padding-right: 10.87px;
    padding-bottom: 5.98px;
    padding-left: 10.87px;
}

/* script tab */
.container-script {
    padding-top: 20px;
}
.section {
    border: 1px solid #3B3B4F;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 8px;
    background: rgba(29, 26, 49, 0.6);
  }
  .back-color{
    background:rgba(34, 30, 59, 1)
  }
.section p {
    color: #A0A0B0;
}
.section a {
    color: rgba(140, 121, 255, 1);
    text-decoration: none;
}
.section a i {
    margin-left: 5px;
}
.section .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section .header input {
    margin-right: 10px;
}
.category {
    margin-top: 20px;
}
.category label {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: flex-start;
}
.category input {
    margin-right: 10px;
}
.code-block {
    background-color: #413A717A;
    /* padding: 20px; */
    border-radius: 8px;
    margin-top: 20px;
    color: #A0A0B0;
    overflow-x: auto;
    width: 500px;
}
.script-input{
 background-color:#413A717A;
 min-width: 478px;
 padding: 10px;
 color: white;
 border:#413A717A ;
}
.script-input:focus {
    outline: none;
    border: none;
    box-shadow: none; 
}
.cust{
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(36, 33, 55, 1); 
    color: rgba(255, 255, 255, 0.6);

}

.custom{
  padding-top: 10px;
  display: flex;
  
flex-wrap: wrap;
  gap: 10px;
  color: rgba(255, 255, 255, 0.6);
}
.customs{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.category-2{
    display: flex;
    padding-top: 10px;
    gap: 10px;
}
.category-3 {
    display: flex;
    gap: 10px;
}

.border-bottom {
    border-bottom: 1px solid rgba(36, 33, 55, 1); 
}

.width-cust{
    max-width: 257px;
}
/* togle */
.toggle-switch {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;
}

.toggle-switch input {
    display: none;
}

.slider {
    width: 34px;
    height: 18px;
    background: rgba(37, 36, 51, 1);
    border-radius: 50px;
    position: relative;
    transition: 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background:rgba(99, 98, 117, 1);
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: 0.3s;
}

.toggle-switch input:checked + .slider {
    background: #00d1d1; 
}

.toggle-switch input:checked + .slider::before {
    transform: translateX(16px);
    background: #fff;
}

.category-label {
    color: #ddd;
    font-size:11.5px;
}

.info-icon {
    color: #6666cc; 
    font-size: 11.5px;
    cursor: pointer;
}
.dismiss-btn{
    border-radius:6px ;
    background-color: #413A717A;
    border: 1px solid #413A717A;
    cursor: pointer;
}

/* ease otp */
/* .cookie-banner {
    width: 300px;
    padding: 15px;
    background: #ffffff;
    color: #333;
    border-radius: 5px;
    position: relative;
    transition: all 0.5s;
    top: 0;
    left: 0;
    margin-bottom: 18px;
    margin-right: 18px;
    
  } */

  .topbar{
    width: 100%;
    position: absolute;
    top: 0;
    height: 24px;
    background-color:rgba(159, 142, 255, 0.3);
  }
  .threedots{
    margin-left: 12px;
    margin-top: 10px;
    position: relative;
    z-index: 10;
  }

  .cookie-banner {
    display: flex;
    width: 65%;
    padding: 10px;
    position: absolute;
    z-index: 12;
    /* background: #b11414; */
    color: #0A081B;
    /* border-radius: 12px; */
    transition: all 0.5s;
    flex-direction: column;
  }

  .button-wrapp{
   display: flex;
   justify-content: right;
   flex-wrap: wrap;
   width: 100%;
   margin: auto;
  }
  
  /* Fade Animation */
  .cookie-banner.fade {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .cookie-banner.slide-up {
    transform: translateY(100%);
    animation: slideUp 0.5s forwards;
  }
  
  @keyframes slideUp {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
  }
  
  /* Slide Up
  .cookie-banner.slide-up {
    transform: translateY(100%);
    animation: slideUp 0.5s forwards;
  }
  
  @keyframes slideUp {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
  }
   */
   
  /* Slide Down */
  .cookie-banner.slide-down {
    transform: translateY(-100%);
    animation: slideDown 0.5s forwards;
  }
  
  @keyframes slideDown {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
  }
  
  /* Slide Left */
  .cookie-banner.slide-left {
    transform: translateX(100%);
    animation: slideLeft 0.5s forwards;
  }
  
  @keyframes slideLeft {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
  }
  
  /* Slide Right */
  .cookie-banner.slide-right {
    transform: translateX(-100%);
    animation: slideRight 0.5s forwards;
  }
  
  @keyframes slideRight {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
  }

  .secondclass {
    position: absolute;
    right: 0;
    z-index: -1;
    opacity:30%;
    width: 100px;
    height: 100%;
    background-color:#798EFF;
    bottom: 0px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  
  

  /* popup */

  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  .spanbox {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #0A081B;
    background-color:#201a2a; /* Adjust based on the actual background */
    color: white; /* Text color for contrast */
    padding: 16px;
    border-radius: 8px; /* Optional for rounded corners */
    width: 85%;
}

  
  .popup-box {
    background: rgba(10, 8, 27, 1);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 11.5px;
    width: 250px;
  }
  
  .confirm-button {
    background-color: #262e84;
    color: white;
    border: none;
    padding:  10px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }

  .confirm-button.loading {
    background-color: #262e84;
    cursor: wait;
  }
  
  .cancel-btn{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 10px;    ;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .confirm-button:hover {
    background-color: #0056b3;
  }
  

/* toottipipe */

.tooltip-container {
    position: relative;
    display: inline-block;
    width: 100%;
    box-shadow: #0A081B;
  }
  
  .tooltip-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  
  .tooltip-text {
    visibility: hidden;
    background-color: rgba(34, 30, 59, 1);
    color: #fff;
    text-align: center;
    padding: 6px 10px;
    border-radius: 4px;
    position: absolute;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%);
    white-space: wrap;
    font-size: 11.5px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 10;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Show tooltip on hover */
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    min-width: 100px;
    box-shadow: #0A081B;

  }

  /*the pop upss*/


.tooltip-containers {
  position: relative;
  display: inline-block;
  box-shadow: #0A081B;
}

.tooltip-icons {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.tooltip-texts {
  visibility: hidden;
  background-color: rgba(34, 30, 59, 1);
  color: #fff;
  text-align: center;
  padding: 6px 10px;
  border-radius: 4px;
  position: absolute;
  bottom: 100%; 
  left: 50%;
  width: 200px;
  transform: translateX(-50%);
  white-space: wrap;
  font-size: 11.5px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 10;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Show tooltip on hover */
.tooltip-containers:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  min-width: 100px;
  box-shadow: #0A081B;

}

/* Toggle Container */
.toggle-container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  /* Label Text */
  .toggle-label {
    color: #8A67D3;
    font-size: 12px;
    /* margin-right: 10px; */
  }
  
  /* Toggle Switch */
  .toggle {
    position: relative;
    width: 40px;
    height: 20px;
    background: #302B50; 
    border-radius: 50px;
    transition: background 0.3s ease-in-out;
  }
  
  /* Toggle Circle */
  .toggle::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 14px;
    height: 14px;
    background: #666; 
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }
  
  /* Checked State */
  input:checked + .toggle {
    background:rgba(35, 192, 195, 1); 
  }
  
  input:checked + .toggle::before {
    transform: translateX(20px);
    background: #fff; 
  }
  
  /* Hidden Checkbox */
  .toggle-checkbox {
    display: none;
  }
  

  /* //preferencess */


  .cookie-title {
    font-size: 12px;
    color: #A393F2;
  }
  
  .cookie-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 12px;
    color: #C4C2F0;
    cursor: pointer;
  }
  
  .cookie-category input {
    display: none;
  }
  
  .custom-checkbox {
    width: 16.67px;
    height: 16.67px;
    display: inline-block;
    border: 1.5px solid rgba(51, 48, 74, 1);
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .cookie-category input:checked + .custom-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgba(140, 121, 255, 1);
  }
  
  .cookie-category input:checked + .custom-checkbox::before {
    content: "✔";
    color: rgba(140, 121, 255, 1);
    font-size: 12px;
    
  }
  
  .category-icon {
    width: 20px;
    height: 20px;
  }
  
  .category-icon.active {
    opacity: 1;
  }
  
  .category-status {
    color: rgba(255, 255, 255, 0.3);
  }

  .cookie-category {
    display: flex;
    align-items: center;
    gap: 8px; /* Adds space between checkbox and text */
  }
  
  .custom-checkbox {
    margin-right: 5px; /* Ensures the checkbox and text are close */
  }
  
  .category-name {
    flex-grow: 1; /* Keeps text next to checkbox */
  }

.category-label {
    display: flex;
    align-items: center;
    gap: 8px; /* Adds spacing between checkbox and text */
  }
  /* dorpdwon color picker */

  .color-picker-dropdown {
    position: relative;
    width: 118px;
    margin-top: 12px;
    margin-bottom: 16px;
  }
  
  .color-picker-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3px;
    border: 1px solid rgba(57, 53, 83, 1);
    border-radius: 5px;
    background: rgba(31, 27, 52, 1);
    cursor: pointer;
    font-size: 14px;
  }
  
  .color-preview {
    width:9px;
    height: 9px;
    border-radius:10.5px;
    border: 1px solid #aaa;
  }
  
  .color-text {
    margin-left: 10px;
    flex-grow: 1;
    font-family: 'DM Sans', sans-serif;
font-weight: 300;
font-size: 12px;
line-height: 100%;
letter-spacing: -3%;
color:  rgba(255, 255, 255, 0.6);;

  }
  
  .dropdown-arrow {
    font-size: 12px;
  }
  
  .color-picker-container {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    background: rgba(46, 43, 69, 1);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    display: none; /* Default hidden */

  }
  

.color-picker-container.visible {
  display: block; /* Show when dropdown is open */
}

/* //dismiss button */

.dismissed-message {
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  color: #555;
}

.dismiss-btn, .activate-btn {
  color: white;
  background-color: rgba(65, 58, 113, 0.48);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease-in-out;
}

.dismiss-btn:hover, .activate-btn:hover {
  background-color: #4b4fc3;
}



/* Compliance Label */
.compliance-label {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
  justify-content: flex-start;
}

.compliance{
  color: rgba(140, 121, 255, 1);
  display: flex;
  gap: 10px;
}

/* Custom Checkbox */
.custom-checkboxs {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: #c5baff;
  cursor: pointer;
  position: relative;
  margin-top: 14px;
  justify-content: flex-start;
}

.custom-checkboxs input {
  display: none;
}
.compliance-container{
  border-top: 1px solid #242137;
  padding-top: 14px;
}
/* Checkbox Box */
.checkbox-box {
  width: 18px;
  height: 18px;
  border: 2px solid rgba(197, 186, 255, 0.7);
  border-radius: 50%;
  display: flex;
  align-items: left;
  justify-content: left;
  position: relative;
}

/* Checkmark */
.checkbox-box::after {
  content: "";
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Checked State */
.custom-checkboxs input:checked + .checkbox-box {
  border-color: #9b6bff;
}

.custom-checkboxs input:checked + .checkbox-box::after {
  background: #9b6bff;
}

/* Hover Effect */
.custom-checkboxs:hover .checkbox-box {
  border-color: #b48eff;
}

/* styles.css (or your preferred global stylesheet file) */

.help-dropdown-container {
  position: relative;
}

.need-help {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0%;
}

.need-help img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.help-dropdown {
  position: absolute;
  top: calc(100% + 4px);
  right: 0;
  background-color:rgba(50, 44, 90, 0.6);
  color: #fff;
  border: 1px solid #333;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  min-width: 150px;
}

.help-dropdown ul {
  list-style: none;
  padding: 8px 0;
  margin: 0;
}

.help-dropdown li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 12px;

}

.help-dropdown li:hover {
  background-color:rgba(59, 51, 109, 1);
}

.help-dropdown li a {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left;
}